@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to System Repair Car</h1>
    <p class="lead">Manage your cars and events easily with our simple interface.</p>
    <hr class="my-4">
    <p>Choose an action below to get started:</p>
    <a class="btn btn-primary btn-lg mr-2" href="/Car/Index" role="button">Go to Cars</a>
    <a class="btn btn-secondary btn-lg" href="/Event/Index" role="button">Go to Events</a>
</div>
